.App {
  text-align: center;
}

.grid {
  display: grid;
}

.header {
  background-color: #D7B29D;
  border-radius: 20px;
  width: 35vw;
  margin: auto;
  margin-top: 30px;
  padding: 10px;
}

.filterButton {
  border-color: red;
  /* border-color: "#7DAA92"; */
  border-width: "20px";
}

/* backgroundColor: filterByVegan ? "#7DAA92" : "#FFF", color */
